html{
    font-family: Comic Sans MS, Comic Sans, cursive;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
div,body{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
}
body{
    display: block;
    width: 100%;
    height: 100%;
}
#app{
    position: relative;
    color: hsla(0,0%,100%,.6);
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 14px;
}
.main-view{
    width: 100%;
    height: 100%;
    padding: 55px 15px 5px 15px;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.music-bg{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -2;
    background-size: cover;
    background-position: 50%;
    opacity: .8;
    filter: blur(15px);
    transition: all .8s;
    -webkit-transition: all .8s;
    transform: scale(1,1);
    -webkit-transform: scale(1,1);
}
.music-bg-mask{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-color: rgba(0,0,0,.5);
}
/*header*/
.music-header{
    position: absolute;
    height: 55px;
    width: 100%;
    overflow: hidden;
    align-items: center;
}
.menu-bottom{
    position: absolute;
    left: 5px;
    top: 10px;
    color: white;
    opacity: .6;
}
/*the upper part of the main window*/
.content{
    display: flex;
    width: 100%;
    height: calc(100% - 80px);
}
.content .songs-menu{
    display: none;
}
.content .current-song-detail{
    margin-left: 0;
    width: 100%;
    position: relative;
}
.current-song-detail .song-name{
    position: relative;
    font-size: 20px;
    z-index: 1;
}
.current-song-detail .singer{
    margin-top: 5px;
    display: block;
    position: relative;
    font-size: 14px;
    z-index: 1;
}
.current-song-detail .lyrics-box{
    height: calc(100% - 60px);
    overflow: hidden;
    text-align: center;
    -webkit-mask-image: linear-gradient(180deg,hsla(0,0%,100%,0) 0,hsla(0,0%,100%,.6) 15%,#fff 25%,#fff 75%,hsla(0,0%,100%,.6) 85%,hsla(0,0%,100%,0));
}
.current-song-detail .lyrics-box .lyrics{
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    transition: transform .6s ease-out;
}
/*.current-song-detail .lyrics-box p{*/
/*    height: 32px;*/
/*    margin: 0px;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/

.current-song-detail .lyrics-box .lyrics .on{
    color: #40ce8f;
}

/*the lower part of the main window*/
@media screen and (max-width: 520px){
    .musicbar{
        position: relative;
        flex-direction: column;
        width: 100%;
        height: 80px;
        box-sizing: border-box;
        padding-bottom: 15px;
        justify-content: center;
        align-items: center;
        display: flex;
    }}
.controlbar{
    width: 60%;
    margin-top: 15px;
    order: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icon{
    font-size: 32px;
    color: #fff;
}
.icon.icon-pre::before{
    content: "\e965";
}
.icon.icon-next::before{
    content: "\e964";
}
.icon.icon-play::before{
    content: "\e95a";
}
.icon.icon-pause::before{
    content: "\e956";
}
.controlbar .icon.icon-play,.controlbar .icon.icon-pause{
    font-size: 24px;
}
.controlbar .play-and-pause{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #fff;
    background-color: hsla(0,0%,100%,.3);
}
.music-bar-info{
    padding-left: 0;
    order: 1;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    font-size: 14px;
    color: hsla(0,0%,100%,.4);

}
.music-bar-info .music-now-time{
    height: 15px;
    padding-left: 5px;
}
.music-bar-info .music-total-time{
    height: 15px;
    position: absolute;
    top: 0px;
    right: 5px;
}
.music-bar-info .music-progress-bar{
    position: relative;
    padding: 8px 5px 5px 5px;
    overflow: hidden;
}
.music-progress-bar .music-total-time-bar{
    height: 3px;
    left: 5px;
    width: 100%;
    background: hsla(0,0%,100%,.15);
}
.music-progress-bar .music-loaded-time-bar,.music-progress-bar .music-played-time-bar{
    position: absolute;
    top: 50%;
    left: 5px;
    height: 3px;
    display: inline-block;
    margin-top: 0px;
}
.music-progress-bar .music-loaded-time-bar{
    background: hsla(0,0%,100%,.2);
}
.music-progress-bar .music-played-time-bar{
    background: #fff;
}
.music-played-time-bar .music-progress-dot{
    position: absolute;
    top: 50%;
    right: -5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    transform: translateY(-50%);
}

#music-next-mode{
    position: absolute;
    top: 38px;
    left: 10px;
    margin: 0;
    color: hsla(0,0%,100%,.4);
}
.icon.in-order::before{
    content: "\e960";
}
.icon.loop::before{
    content: "\e961";
}
.icon.random::before{
    content: "\e963";
}
.icon.music-comments{
    position: absolute;
    top: 38px;
    right: 10px;
    margin: 0;
    color: hsla(0,0%,100%,.4);
}
.music-comments::before{
    content: "\e96e"
}

/* The hidden part */
.underline{
    border-bottom:1px solid rgba(255,255,255,0.1);
    margin: 0;
}
.icon.play-in-des{
    
}
.description{
    color: rgba(255,255,255,.4);
    display: none;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 80px);
    font-size: 15px;
}
.describ_title{
    color: rgba(255,255,255,0.8);
    position: relative;
    font-size: 22px;
}
.describ{
    margin-top: 5px;
    position: relative;
}
.song-list{
    line-height: 25px;
    font-size: 20px;
    overflow: hidden;
}
.favorite, .jiaqian{
    padding: 10px;
    margin-top: 15px;
    border-radius: 6px;
    background-color: rgba(255,255,255,0.1);
}
.favorite-title, .jiaqian-title{
    margin-bottom: 5px;
    font-size: 18px;
    color: rgba(255,255,255,0.8);
}
.favorite-song, .jiaqian-song{
    width: 50%;
    display: inline-block;
    margin-top: 5px;
    color: rgba(255,255,255,0.8);
}